<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>

            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <div id="feeds-row">
        <ul>
            {% comment %}
            Future enhancement
            {% assign collections = site.collections | sort: 'sequence' %}
            {% for collection in collections %}
                {% if collection.label != "posts" %}
                <li>
                    <a href="feed/{{collection.label}}.xml">[{{collection.title}} <i class="fa fa-rss-square"></i>]</a>
                </li>
                {%- endif -%}
            {% endfor %}
            {% endcomment %}
            <li>
                <a href="feed/security.xml">Security <i class="fa fa-rss-square"></i>
                </a>|
            </li>
            <li>
                <a href="feed/one-zero-one.xml">101 <i class="fa fa-rss-square"></i>
                </a>|</li>
            <li>
                <a href="feed/howto.xml">How-to <i class="fa fa-rss-square"></i>
                </a></li>
        </ul>
    </div>

  </div>

</footer>
